.logo-parent {
    flex-basis: 1080px;
}

.logo {
    height: 60px;
}

body { 
    /* background-color:#e7e5e5; */
    background-color:rgb(27, 27, 27);
    color:white;
    padding:1%;
}

header {
    background-color:rgb(27, 27, 27);
}

.image-container {
    position: relative;
}

.game_image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-250%, -50%);
    width:264px;
    height:352px;
    border-radius: 1%;
    border: 1px solid darkgray;
}

.game_banner {
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    border-radius: 1%;
    border: 1px solid darkgray;
}

.separator {
    border: none;
    border-top: 1px solid gray; /* Adjust the color and style as needed */
    margin: -15px 0;
    padding-bottom:1%; /* Adjust the margin as needed */
}

.reviewList li {
    padding:0.5%;
}

.reviewList {
    list-style-type: none;
    padding-left: 0;
}

.game-container {
    display: flex;
    flex-wrap: wrap; /* Wrap to the next line when necessary */
    justify-content: space-between; /* Distribute items evenly */
}

.game-entry {
    text-align: center; /* Center content */
    margin: 5px; /* Add some margin between game entries */
}

.home-game-image {
    max-width: 100%;
    height: auto;
    border-radius: 1%;
    border: 1px solid darkgray;
}

.game-title, .game-date {
    margin: 5px 0;
}

.review-user-game-note {
    font-size: large;
    font-weight: bold;
}

.review-date {
    margin-bottom:2%;
}

h2 {
    text-decoration: underline;
}

.header-separator {
    border: none;
    border-top: 1px solid gray; /* Adjust the color and style as needed */
    padding-bottom:1%; /* Adjust the margin as needed */
    margin: 15px 0;
}

.list-game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally */
    gap: 20px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 5px; /* Add a bit of padding on the sides */
}

/* Adjust margins for .game-entry */
.list-game-entry {
    flex: 0 0 calc(20% - 0px); /* Distribute items in a row with equal width */
    height: 340px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Flip card styles */
.flip-card {
    perspective: 1000px;
    width: 100%;
    height: 100%;
}

.flip-card-back-overlay {
    position: absolute;
    width: 98.701%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out;
    font-weight: bold;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.flip-card-front:hover {
    cursor:pointer;
}

.flip-card-back:hover {
    cursor: pointer;
}

.flip-card-back-overlay {
    opacity: 1;
}
/* Ensure that images maintain their aspect ratio */
.list-game-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.header-div {
    display: flex;
    align-items: center;
    justify-content: space-between
}
.login-button {
    display: inline-block; /* Display as a block-level element */
    background-color: #000; /* Black background */
    color: #fff; /* White text color */
    padding: 14px 20px; /* Add padding to the button */
    border: 2px solid gray; /* Grey border */
    text-decoration: none; /* Remove default link underline */
    text-align: center; /* Center text horizontally */
}

/* Hover effect for the button */
.login-button:hover {
    background-color: #222; /* Darker black on hover */
}

/* Menu dropdown début */
/* Hide the dropdown content by default */
.dropdown-wrapper {
    position: relative;
    display: inline-block;
}

/* Set the dropdown menu's width to match the wrapper's width */
.bloc-links {
    display: none;
    position: absolute;
    background-color: #000;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%; /* Match the wrapper's width */
}

/* Style the button */
.bloc-top {
    background-color: #000; /* Background color for the button */
    color: #fff; /* Text color for the button */
    padding: 15.5px;
    cursor: pointer;
}

/* Position the dropdown content above the header */
.dropdown {
    position: relative;
    display: inline-block;
}

.bloc-top,
.bloc-links {
    border: 2px solid gray;
}

/* Style the dropdown links */
.bloc-links ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.bloc-links li {
    padding: 10px;
}

.bloc-links li a {
    text-decoration:none;
    color:#fff;
}

/* Show the dropdown content when the button is clicked */
.dropdown:hover .bloc-links {
    display: block;
}
/* Menu dropdown fin */

.profile_container {
    display: flex; /* Use Flexbox to arrange the blocks */
    align-items: flex-start; /* Align items to the top of the container */
  }
  
  .left-block {
    flex: 0.6; /* Allow the left block to expand to take available space */
    margin-right: 20px; /* Add some space between the blocks */
  }
  
  .right-block {
    flex: 2.6; /* Allow the right block to expand more (adjust as needed) */
  }

  .profilePicture {
    width:100px;
    height:100px; 
    object-fit:cover;
    border: solid 2px gold;
    margin-top : 1%;
    margin-bottom : 1%;
    box-shadow:
    0 0 0 2px orange;
  }

  body {
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  .bio-container {
    margin-top:2%;
    border:solid 1px white;
    padding:2%;
  }

  .bio-title {
    font-weight: bold;
    margin-bottom: 2%;
  }

  