<!DOCTYPE html>
<html>
<head>
    {% block stylesheets %}
        {{ encore_entry_link_tags('style') }}
    {% endblock %}
        
    {% block javascripts %}
        {{ encore_entry_script_tags('js') }}
    {% endblock %}
</head>
<body>
    <header>
        <div>
            <a href="{{ path('home') }}">
                <img class="logo" src="{{ asset('Logo.png') }}" alt="Logo">
            </a>
        </div>
        {# Ligne séparatrice #}
        <hr class="header-separator">
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
