{% extends 'base.html.twig' %}

{% block content %}
    <h1>Search Results</h1>
    <ul>
        {% for game in games %}
            <li><a href="{{ path('game_page', {'id': game.id}) }}">{{ game.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}